@charset 'utf-8';

.user-list-wrap, .admin-list-wrap {
    width:49.5%;
    border: 1px solid #ccc;
}

.search-input {
    height:25px;
    width:100%;
    margin-right:5px;
}

/* table css */
table {
    background-color: #fff;
    width: 100%;
    border-collapse: collapse;
}

thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;/* even columns width , fix width of table too*/
}

thead {
    width: 100%;/* scrollbar is average 1em/16px width, remove it from thead width */
}

tbody {
    display:block;
    width:100%;
    height:400px;
    overflow-y: auto;
}

/* table tr 높이 */
tr {
    height:40px;
}

/* table td 넓이 */
.td-5 {
    width:5%;
}

.td-10 {
    width:10%;
}

.td-15 {
    width:15%;
}

thead tr:first-child {
    background-color: #005AA7;
    color: #fff;
}
tr:nth-child(2n) {
    background-color: #eee;
}