@charset 'utf-8';

.mainContent {
    align-content: flex-start;
}

.contentHead {
    display:inline-block;
    width:100%;
}

.tree-wrap {
    width:100%;
}

.tree-dept-wrap, .tree-rank-wrap, .tree-recruit-wrap {
    width:33%;
    padding: 10px;
    border:2px solid #eee;
}

a.active {
    background-color:#eee;
    font-weight: 700;
}

.tab {
    display: inline-block;
    width:50%;
    height:35px;
    border:1px solid #e7e7e7;
    text-align: center;
    line-height: 35px;
    background-color:#fff;
}

.tree-btn-on {
    display:inline-block;
    width:50px;
    height:30px;
    text-align: center;    
    line-height: 30px;
    border-radius: 2px;
    background-color:#2F7BBD;
    border:1px solid transparent;
    color:#fff;
    font-size:12px;
}

.tree-btn-off {
    display:inline-block;
    width:50px;
    height:30px;
    text-align: center;    
    line-height: 30px;
    border-radius: 2px;
    background-color:#edeff5;
    border:1px solid #d4d4d4;
    color:#000;
    font-size:12px;
}

.tree-btn-del {
    display:inline-block;
    width:50px;
    height:30px;
    text-align: center;    
    line-height: 30px;
    border-radius: 2px;
    background-color:#A7005A;
    border:1px solid #d4d4d4;
    color:#fff;
    font-size:12px;
}