@charset 'utf-8';

.h-dashboard {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.h-dashboard h3 {
    background-color: rgba(0, 90, 167, 0.8);
    padding: 10px;
    color: #eee;
}

.h-calendar,
.h-mail,
.h-notice,
.h-memo {
    padding: 5px;
}

.h-calendar {
    width: 60%;
}

.h-mail {
    width: 40%;
}

.h-notice {
    width: 50%;
}

.Container {
    padding: 5px 10px;
    background-color: #fff;
}

.h-noticeTbl {
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.h-noticeTbl tr {
    border: 5px solid transparent;
}

tr:nth-child(2n) {
    background-color: #e0e0e0;
}


.h-memo {
    width: 50%;
}