@charset 'utf-8';

.content-menu .menu:after, .content-menu li:after {
    content: '●';
    font-size: 1px;
    color: #00f;
    position: absolute;
    right:0;
    line-height: 40px;
    margin-right:20px;
}